<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
    <h3><span>{{site.user_description}}</span></h3>
      <div class="header-icons">
        <a aria-label="Salient OS" target="_blank" href="https://sourceforge.net/projects/salient-os/"><i class="icon fa fa-download" aria-hidden="true"></i></a>
      </div>
      <!--<div class="header-links"></div>-->
  </div>
  <!--<a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>-->
</div>
